@model IEnumerable<TaskManagementSystem.Models.AppUser>
@{
	ViewData["Title"] = "Users";
	Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
	<link href="~/css/modal.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<h1 style="text-align: center; display: flex; justify-content: space-between;">
	@ViewData["Title"]
	<button class="btn btn-primary" onclick="openEditPage('')">
		<i class="bi bi-plus"></i> Add User
	</button>
</h1>
<br />
<table class="table">
	<thead style="text-align: center;">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Designation</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody style="text-align: center;">
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.FirstName @user.LastName</td>
				<td>@user.Email</td>
				<td>@user.Designation</td>
				<td>@user.Role</td>
				<td>
					<a href="#" class="btn btn-primary" onclick="openEditPage('@user.Id')">
						<i class="bi bi-pencil"></i> Edit
					</a>
					<a href="#" class="btn btn-danger" onclick="openDeleteModal('@user.Id')">
						<i class="bi bi-trash"></i> Delete
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	function openEditPage(userId) {
		window.location.href = '/User/Edit/' + userId; // Replace '/User/Edit/' with the actual edit page URL
	}
</script>

<!-- Include the Edit Modal -->
@* @Html.Partial("_EditUserModal") *@
@Html.Partial("_DeleteUserModal")
